@model IEnumerable<TestApp.Models.Ducani>
@{
    ViewBag.Title = "Lista Dućana";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Ukupan zbroj racuna u ducanu</th>
        <th></th>
    </tr>

    @foreach (var ducan in Model)
    {
        <tr>
            <td>@ducan.IdDucana</td>
            <td>@ducan.NazivDucana</td>
            <td>@ducan.AdresaDucana</td>
          <td>@ducan.UkupanZbrojRacuna</td>
            <td>@Html.ActionLink("Prikaži Račune", "PopisRacuna", new { id = ducan.IdDucana })</td>
            <td>@Html.ActionLink("Napravi novi racun", "NoviRacun", new { idDucana = ducan.IdDucana })</td>
            <td>
                @using (Html.BeginForm("DeleteDucan", "Home", new { idDucana = ducan.IdDucana }, FormMethod.Post))
                {
                    <input type="submit" value="Briši dućan" onclick="return confirm('Jeste li sigurni da želite obrisati ducan,sve racune i sve stavke?');" class="btn btn-danger" />
                }
            </td>
        </tr>
    }
    
</table>

<p>
    @Html.ActionLink("Otvori novi ducan", "NoviDucan", "Home")
    
</p>

<div>
    @using (Html.BeginForm("PopisRacunaPoDucanu", "Home", FormMethod.Post))
    {
        <div>
            <h5>Odaberi dućan iz liste da se prikazu svi računi</h5>
            <select id="dropdowntipo" name="IdDucana">
                <option value="">Odaberi dućan</option>
                @foreach (var item in Model)
                {
                    <option value="@item.IdDucana">@item.NazivDucana, @item.AdresaDucana</option>
                }
            </select>
            <input type="submit" value="Prikaži Račune" />
        </div>
    }
</div>