@model TestApp.Models.NovaStavka

@{
    ViewBag.Title = "Uredi Stavku";
}

<h2>@ViewBag.Title</h2>
<div>

    <p>Izmjenu radimo na sljedecoj stavci:</p>
    <p>
        Naziv stavke: @Model.Naziv
        Jedinična cijena: @Model.JedinicnaCijena
    </p>
    <div>
    </div>

</div>
@using (Html.BeginForm("Edit","NovaStavka", FormMethod.Post))
{
    @Html.HiddenFor(model => model.IdStavke)
  


    <div class="form-group">
        @Html.LabelFor(model => model.Naziv)
        <div>
            @Html.TextBoxFor(model => model.Naziv)
        </div>
    </div>
  
    <div class="form-group">
        @Html.LabelFor(model => model.JedinicnaCijena)
        <div>
            @Html.TextBoxFor(model => model.JedinicnaCijena)
        </div>
    </div>

    <input type="submit" value="Ažuriraj" class="btn btn-primary" />
}